body {
  background-color: white;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.builderText {
  letter-spacing: 3px;
}

h1 {
  text-shadow: 3px 3px aquamarine;
  letter-spacing: 10px;
}
h1:hover {
  transition-duration: 3s;
  text-shadow: 3px 3px 3px aquamarine;
}

.twelvePt {
  font-size: 12px;
}
.eightPt {
  font-size: 8px;
}

.flexEven {
  display: flex;
  justify-content: space-evenly;
}
.flex {
  display: flex;
  justify-content: center;
}

.underTree {
  z-index: 10;
}

.formTextInput {
  border: solid 2px aquamarine;
  box-shadow: 1px 1px 0px 0px cornflowerblue;
  border-radius: 0px 3px 3px 3px;
  outline: none;
  font-size: 8px;
}

.formTextInput:hover {
  transition-duration: 0.2s;
  box-shadow: 2px 2px 1px 0px cornflowerblue;
}

.myButton {
  letter-spacing: 3px;
  border: solid 1px aquamarine;
  border-radius: 0px 5px 0px 5px;
  box-shadow: 0px 0px 1px 0px cornflowerblue;
  font-size: 12px;
  transition: all 0.2s ease;
  outline: none;
  padding: 3px;
  margin: 5px;
}
.mySmallButton {
  letter-spacing: 3px;
  border: solid 1px aquamarine;
  border-radius: 0px 5px 0px 5px;
  box-shadow: 0px 0px 1px 0px cornflowerblue;
  font-size: 8px;
  transition: all 0.2s ease;
  outline: none;
  padding: 3px;
  margin: 5px;
}

.mySmallButton:hover {
  background: aquamarine;
  color: rgb(43, 43, 43);
  box-shadow: 2px 2px 0px 0px cornflowerblue;
  transition: all 0.2s ease-in-out;
}

.myButton:hover {
  background: aquamarine;
  color: rgb(43, 43, 43);
  box-shadow: 2px 2px 0px 0px cornflowerblue;
  transition: all 0.2s ease-in-out;
}
.myButton:active {
  background: aquamarine;
  color: rgb(43, 43, 43);
  box-shadow: 0px 0px 2px 0px cornflowerblue;
  transition: all 0.2s ease;
}

.overflowAuto {
  overflow: hidden;
}

.clearBoth {
  clear: both;
}

.posAbs {
  position: absolute;
}
.posRel {
  position: relative;
}
.centerText {
  text-align: center;
}

.onTop {
  z-index: 1000;
}

.fullWidth {
  width: 100vw;
}

.spaceBetween {
  position: relative;
  text-align: center;
}

.overlay {
  z-index: 50;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup {
  z-index: 100;
  position: fixed;
  top: 200px;
  left: 200px;
  right: 200px;
  background-color: white;
}

.iframeSite {
  width: 100vw;
  height: 100vh;
}

.treeVisualizer {
  position: absolute;
  display: flex;
  height: 200px;
  max-height: 300px;
  visibility: visible;
  position: relative;
  transition: all 0.2s ease;
  transform: scaleY(1);
  transform-origin: top;
}

.hideTree > .treeVisualizer {
  height: 0px;
  opacity: 0;
  transition: all 0.1s ease;
}

.elementMaker {
  height: 250px;
}

.hide > .elementMaker {
  height: 0px;
  opacity: 0;
  transition: all 0.1s ease;
}

iframe {
  transform: scaleY(1);
  height: 100%;
}

.hideIframe > .iframeSite {
  /*transform: scaleY(0);*/
  transform-origin: top;
  height: 0px;
  transition: all 0.2s ease;
}

.hide {
  height: 0px;
  transform: scaleY(0);
  transform-origin: top;
  transition: all 0.1s ease;
}

.selectedHighlight {
  background-color: aquamarine;
}
.flexColumn {
  display: flex;
  flex-direction: column;
  height: auto;
}
.relative {
  position: relative;
}

.block {
  display: block;
}

.lessMargin {
  margin: -5px;
}
.lessMarginTop {
  margin-top: -15px;
}
.lessMarginBottom {
  margin-bottom: -15px;
}

.smallPadTop {
  padding-top: 8px;
}

.smallMarginTop {
  margin-top: 25px;
  margin-bottom: 10px;
}
.MarginTop {
  margin-top: 20px;
}

.smallMarginRight {
  margin-right: 10px;
}

.smallMargin {
  margin: 8px;
}
.verySmallMargin {
  margin-left: 2px;
}

.grey {
  color: grey;
}

.userDisplayText {
  border-bottom: 1px solid aquamarine;
}
